<header style="display: none">
          <ul id="menuheader">
              <li>
                 découvrir
                 <ul>
                     <li><a href="lechef">Le chef</a></li>
                     <li><a href="heritage">Héritage</a></li>
                     <li>La cave</li>
                 </ul>
              </li>
              
              <li>
                  venir
                  <ul>
                      <li>La carte</li>
                      <li>Réservation</li>
                      <li>Invitation</li>
                      <li>Salon privé</li>
                      <li>Infos pratiques</li>
                  </ul>
              </li>
              
              <li>
                  <a href="/">
                      <img src="/assets/images/tour.svg" alt="logo tour">
                  </a>
              </li>
              
              <li>
                  varier
                  <ul>
                     <li>Le boulanger de la tour</li>
                     <li>La rôtisserie de la tour</li>
                     <li>La tour d'argent Tokyo</li>
                 </ul>
              </li>
              
              <li>
                  acheter
                  <ul>
                     <li>Le comptoir</li>
                     <li><a href="http://www.comptoirdelatour.com/">E-boutique</a></li>
                 </ul>
              </li>
          </ul>
      </header>