<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tour d'argent - La cave</title>
    
<!--Style-->
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="stylesheet" href="/assets/css/lacave.css">
    <link rel="stylesheet" href="/assets/css/swiper.css">
    
<!--Script for centering-->
    <script>window.onload=function(){setInterval(function(){document.getElementsByTagName("body")[0].style.height=window.innerHeight+"px"},0);}</script>
    
<!--Jquery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	
</head>

<body>
 
<header>
          <ul id="menuheader">
              <li>
                 découvrir
                 <ul>
                     <li><a href="lechef">Le chef</a></li>
                     <li><a href="heritage">Héritage</a></li>
                     <li><a href="lacave">La cave</a></li>
                 </ul>
              </li>
              
              <li>
                  venir
                  <ul>
                      <li><a href="carte">La carte </a></li>
                      <li><a href="reservation">Réservation</a></li>
                      <li><a href="invitation">Invitation</a>   </li>
                      <li><a href="salonprive">Salon privé</a></li>
                      <li><a href="contact">Contact</a></li>
                  </ul>
              </li>
              
              <li>
                  <a href="/">
                      <img src="/assets/images/tour.svg" alt="logo tour">
                  </a>
              </li>
              
              <li>
                  varier
                  <ul>
                     <li><a href="boulanger">Le boulanger de la tour</a></li>
                     <li><a href="rotisserie">La rôtisserie de la tour</a></li>
                     <li><a href="tokyo">La tour d'argent Tokyo</a></li>
                 </ul>
              </li>
              
              <li>
                  acheter
                  <ul>
                     <li><a href="comptoir">Le comptoir</a></li>
                     <li><a href="http://www.comptoirdelatour.com/">E-boutique</a></li>
                 </ul>
              </li>
          </ul>
      </header>
      
  <section id="lacave">
      
      <div>
          <h2>La cave</h2>   
          <svg version="1.1" id="swipedownDuck" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 17.9 15.5" style="enable-background:new 0 0 17.9 15.5;" xml:space="preserve">
                <style type="text/css">
                    .whiteduck{fill:#FFF;}
                </style>
                <g>
                    <g id="heritage-TdA-Copy" transform="translate(-710.000000, -2735.000000)">
                        <path id="aad" class="whiteduck" d="M718.4,2750.5c-0.4-4.7-4.7-10.3-8.4-13.8l0.4-0.9c2.8,1.5,5.9,1.3,8.1-0.9h0.9
                            c2.2,2.2,5.3,2.3,8.1,0.9l0.4,0.9c-3.7,3.5-7.9,9.1-8.4,13.8H718.4z"/>
                    </g>
                </g>
                </svg>
      </div>
            
   </section>
      
    <section id="lacave-content">
       
        <!--Title-->
        
        <div class="cave-title">
                  <svg version="1.1" id="ducktitle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       viewBox="0 0 15.5 17.9" style="enable-background:new 0 0 15.5 17.9;" xml:space="preserve">
                  <style type="text/css">
                      .goldenduck{fill:#C8AE88;}
                  </style>
                  <g>
                      <g id="heritage-TdA-Copy" transform="translate(-710.000000, -2735.000000)">
                          <path id="aad" class="goldenduck" d="M725.5,2744.5c-4.7,0.4-10.3,4.7-13.8,8.4l-0.9-0.4c1.5-2.8,1.3-5.9-0.9-8.1v-0.9
                              c2.2-2.2,2.3-5.3,0.9-8.1l0.9-0.4c3.5,3.7,9.1,7.9,13.8,8.4V2744.5z"/>
                      </g>
                  </g>
                  </svg>

                  <h3>POUR L’AMOUR DU VIN</h3>

                  <svg version="1.1" id="ducktitle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       viewBox="0 0 15.5 17.9" style="enable-background:new 0 0 15.5 17.9;" xml:space="preserve">
                  <style type="text/css">
                      .goldenduck{fill:#C8AE88;}
                  </style>
                  <g>
                      <g id="heritage-TdA-Copy" transform="translate(-710.000000, -2735.000000)">
                          <path id="aad" class="goldenduck" d="M710,2743.4c4.7-0.4,10.3-4.7,13.8-8.4l0.9,0.4c-1.5,2.8-1.3,5.9,0.9,8.1v0.9
                              c-2.2,2.2-2.3,5.3-0.9,8.1l-0.9,0.4c-3.5-3.7-9.1-7.9-13.8-8.4V2743.4z"/>
                      </g>
                  </g>
                  </svg>
              </div>
        
        <!--End of title-->
             
        <!--Presentation-->
              
        <div class="whitespace">
                 <div id="pic"></div>
                 <div class="txt-bio">
                     <h4>DAVID RIDGWAY </h4>
                     <p>David Ridgway est notre Chef Sommelier et c’est grâce à lui que la Tour d’Argent s’est dotée de l’une des caves à vins les plus riches de France et probablement du monde.</p>
                     <p>Ses fonctions ne se limitent pas à gérer la cave, mais surtout à partager avec la clientèle de la Tour son expertise sans pareille et lui procurer une expérience culinaire du plus haut niveau. Grâce à lui nous détenons le “WineSpectator Grand Award” depuis 1986.</p>
                     <p>Avant d’entrer à la Tour d’Argent en 1981, David Ridgway a travaillé comme sommelier et maître d’hôtel dans divers restaurants en Angleterre et en Allemagne. Au cours de sa carrière, il a publié plusieurs ouvrages sur le thème du vin, dont Le Grand Atlas du Vin aux Éditions Atlas, un Guide des Sommeliers aux Éditions Fleurus et Amateur de Champagne.</p>
                     <p>Il s’est également vu décerner divers prix dont le Trophée Spirit (2004), Sommelier de l’Année du Guide Pudlo Paris (1998) et Maître Sommelier de France. David Ridgway est l’un des fondateurs des Dégustations du Grand Jury et il enseigne l’Œnologie à l’Asforest.</p>
                     <p>Il a fait ses études au Wine and Spirit Trust à London et à la Westminster Hotel School.</p>
                 </div> 
          </div>
           
        <!--Title-->
            
        <div class="cave-title">
                  <svg version="1.1" id="ducktitle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       viewBox="0 0 15.5 17.9" style="enable-background:new 0 0 15.5 17.9;" xml:space="preserve">
                  <style type="text/css">
                      .goldenduck{fill:#C8AE88;}
                  </style>
                  <g>
                      <g id="heritage-TdA-Copy" transform="translate(-710.000000, -2735.000000)">
                          <path id="aad" class="goldenduck" d="M725.5,2744.5c-4.7,0.4-10.3,4.7-13.8,8.4l-0.9-0.4c1.5-2.8,1.3-5.9-0.9-8.1v-0.9
                              c2.2-2.2,2.3-5.3,0.9-8.1l0.9-0.4c3.5,3.7,9.1,7.9,13.8,8.4V2744.5z"/>
                      </g>
                  </g>
                  </svg>

                  <h3>Les honneurs<br>du cellier</h3>

                  <svg version="1.1" id="ducktitle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       viewBox="0 0 15.5 17.9" style="enable-background:new 0 0 15.5 17.9;" xml:space="preserve">
                  <style type="text/css">
                      .goldenduck{fill:#C8AE88;}
                  </style>
                  <g>
                      <g id="heritage-TdA-Copy" transform="translate(-710.000000, -2735.000000)">
                          <path id="aad" class="goldenduck" d="M710,2743.4c4.7-0.4,10.3-4.7,13.8-8.4l0.9,0.4c-1.5,2.8-1.3,5.9,0.9,8.1v0.9
                              c-2.2,2.2-2.3,5.3-0.9,8.1l-0.9,0.4c-3.5-3.7-9.1-7.9-13.8-8.4V2743.4z"/>
                      </g>
                  </g>
                  </svg>
              </div>
              
        <!--End of Title-->

            <!-- Bio -->

            <section id="cave-story">
                <div>
                    <p>
                        Champenois d’origine, il a travaillé vingt ans aux côtés des plus grands Chefs avant de diriger lui-même les cuisines du Château de Bagnols de 2001 à 2003 et celle du Château de la Chèvre d’Or à Eze de février 2003 à août 2009.
                    </p>
                    <p>
                        Après avoir obtenu son diplôme de l’École Hôtelière d’Illkirch à Strasbourg il rejoint, en 1981, la brigade du Chef Bernard Loiseau au restaurant La Côte d’Or à Saulieu. Il évoluera ensuite auprès d’autres Chefs comme Gérard Boyer au restaurant Les Crayères à Reims ou encore Roger Vergé au Moulin de Mougins. Il a par ailleurs une solide expérience des beaux hôtels, de renommée internationale, comme le Carlton à Cannes ou le Plaza Athénée à Paris.
                    </p>
                    <p>
                        Philippe Labbé a travaillé trois ans à l’hôtel Martinez à Cannes, au sein de la brigade de Christian Willer, un Chef reconnu comme l’un des meilleurs Chefs d’Hôtel de sa génération auprès duquel Philippe Labbé a appris la rigueur et les enjeux de la restauration d’un grand hôtel.
                    </p>
                    <p>
                        Philippe Labbé propose une cuisine traditionnelle revisitée qui connaît depuis plusieurs années les honneurs des gastronomes du monde entier.
                    </p>
                    <p>
                        Il affectionne les mariages de saveurs originales sublimant des produits de haute qualité et apporte une attention toute particulière à la carte des desserts qui doit être en parfaite harmonie avec sa cuisine.
                    </p>
                </div>
                <div></div>
            </section>
            
            <section id="Eboutique">
                <img src="/assets/images/lacave/coffret.png" alt="coffret">
                <div>
                   <p>découvrez nos vins</p>
                   <a href="http://www.comptoirdelatour.com/">E-boutique</a>
                </div>
            </section>

  
      <footer>
          <ul id="footerleft">
              <li><a href="#">mentions légales</a></li>
              <li><a href="#">recrutement</a></li>
              <li><a href="#">contact</a></li>
              <li><a href="https://tourdargent.com/blog/">ag-mag</a></li>
          </ul>
          
          <ul id="footerright">
              <li><a href="https://fr-fr.facebook.com/latourdargent" id="Facebook"></a></li>
              <li><a href="https://twitter.com/latourdargent" id="Twitter"></a></li>
              <li><a href="https://instagram.com/tourdargentparis" id="Instagram"></a></li>
              <li><a href="https://plus.google.com/+TourdArgentParis" id="googleplus"></a></li>
              <li><a href="https://www.flickr.com/photos/tourdargentparis/" id="flickr"></a></li>
              <li><a href="https://www.linkedin.com/company-beta/3162633/" id="linkedIn"></a></li>
          </ul>
      </footer>
  </section>
  
  
<!--JS-->
  <script src="/assets/js/page.js"></script>
  <script src="/assets/js/swiper.jquery.js"></script>
   
</body>
</html>