<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour d'argent</title>
    
<!--Style-->
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="stylesheet" href="/assets/css/reservation.css">
    <link rel="stylesheet" href="/assets/css/jquery/jquery-ui.css">
    <link rel="stylesheet" href="/assets/css/jquery/jquery-ui.structure.css">
    <link rel="stylesheet" href="/assets/css/jquery/jquery-ui.theme.css">
    
<!--Script for centering-->
    <script>window.onload=function(){setInterval(function(){document.getElementsByTagName("body")[0].style.height=window.innerHeight+"px"},0);}</script>
    
<!--Jquery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/jquery-ui.js"></script>
	
	<script>
      $( function() {
        $( "#datepicker" ).datepicker();
      } );
    </script>

	
</head>

<body>
 
<header>
          <ul id="menuheader">
              <li>
                 découvrir
                 <ul>
                     <li><a href="lechef">Le chef</a></li>
                     <li><a href="heritage">Héritage</a></li>
                     <li>La cave</li>
                 </ul>
              </li>
              
              <li>
                  venir
                  <ul>
                      <li>La carte</li>
                      <li>Réservation</li>
                      <li>Invitation</li>
                      <li>Salon privé</li>
                      <li>Infos pratiques</li>
                  </ul>
              </li>
              
              <li>
                  <a href="/">
                      <img src="/assets/images/tour.svg" alt="logo tour">
                  </a>
              </li>
              
              <li>
                  varier
                  <ul>
                     <li>Le boulanger de la tour</li>
                     <li>La rôtisserie de la tour</li>
                     <li>La tour d'argent Tokyo</li>
                 </ul>
              </li>
              
              <li>
                  acheter
                  <ul>
                     <li>Le comptoir</li>
                     <li><a href="http://www.comptoirdelatour.com/">E-boutique</a></li>
                 </ul>
              </li>
          </ul>
      </header>
      
  <section id="reservation">
      
      <div>
          <h2>Réservation</h2>   
          <svg version="1.1" id="swipedownDuck" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 17.9 15.5" style="enable-background:new 0 0 17.9 15.5;" xml:space="preserve">
                <style type="text/css">
                    .whiteduck{fill:#FFF;}
                </style>
                <g>
                    <g id="heritage-TdA-Copy" transform="translate(-710.000000, -2735.000000)">
                        <path id="aad" class="whiteduck" d="M718.4,2750.5c-0.4-4.7-4.7-10.3-8.4-13.8l0.4-0.9c2.8,1.5,5.9,1.3,8.1-0.9h0.9
                            c2.2,2.2,5.3,2.3,8.1,0.9l0.4,0.9c-3.7,3.5-7.9,9.1-8.4,13.8H718.4z"/>
                    </g>
                </g>
                </svg>
      </div>
            
   </section>
      
    <section id="reservation-content">
       
    <!--Form-->
    
    <form action="">
        
        <input type="text" id="datepicker" placeholder="Date">
        
        <div id="styled-select">  
            <select name="invited" id="invited">
                <option value="personnes" selected>personnes</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
        </div>


        <input type="tel" placeholder="Téléphone" id="telephoneInput">


        <div class="hour">
            <h3>Déjeuner</h3>

            <input type="radio" id="1200" name="reservation" value="1200">
            <label for="1200">12h00</label>

            <input type="radio" id="1230" name="reservation" value="1230">
            <label for="1230">12h30</label>

            <input type="radio" id="1300" name="reservation" value="1300">
            <label for="1300">13h00</label>

            <input type="radio" id="1330" name="reservation" value="1330">
            <label for="1330">13h30</label>
        </div>
    
        
        <div class="hour">
            <h3>Diner</h3>
            
            <input type="radio" id="1900" name="reservation" value="1900">
            <label for="1900">19h00</label>
            
            <input type="radio" id="1930" name="reservation" value="1930">
            <label for="1930">19h30</label>
            
            <input type="radio" id="2000" name="reservation" value="2000">
            <label for="2000">20h00</label>
            
            <input type="radio" id="2030" name="reservation" value="2030">
            <label for="2030">20h30</label>
            
            <input type="radio" id="2100" name="reservation" value="2100">
            <label for="2100">21h00</label>
            
            <input type="radio" id="2130" name="reservation" value="2130">
            <label for="2130">21h30</label>
        </div>
        
        <input type="submit" value="Envoyer">
        
    </form>    
    
           


  
<footer>
          <ul id="footerleft">
              <li><a href="#">mentions légales</a></li>
              <li><a href="#">recrutement</a></li>
              <li><a href="#">contact</a></li>
              <li><a href="https://tourdargent.com/blog/">ag-mag</a></li>
          </ul>
          
          <ul id="footerright">
              <li><a href="https://fr-fr.facebook.com/latourdargent" id="Facebook"></a></li>
              <li><a href="https://twitter.com/latourdargent" id="Twitter"></a></li>
              <li><a href="https://instagram.com/tourdargentparis" id="Instagram"></a></li>
              <li><a href="https://plus.google.com/+TourdArgentParis" id="googleplus"></a></li>
              <li><a href="https://www.flickr.com/photos/tourdargentparis/" id="flickr"></a></li>
              <li><a href="https://www.linkedin.com/company-beta/3162633/" id="linkedIn"></a></li>
          </ul>
</footer>
  </section>
  
  
<!--JS-->
  <script src="/assets/js/page.js"></script>
  <script src="/assets/js/swiper.jquery.js"></script>
   
</body>
</html>