<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour d'argent - Tokyo</title>
    
<!--Style-->
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="stylesheet" href="/assets/css/tokyo.css">
    <link rel="stylesheet" href="/assets/css/swiper.css">
    
<!--Script for centering-->
    <script>window.onload=function(){setInterval(function(){document.getElementsByTagName("body")[0].style.height=window.innerHeight+"px"},0);}</script>
    
<!--Jquery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	
</head>

<body>
 
 <header>
          <ul id="menuheader">
              <li>
                 découvrir
                 <ul>
                     <li><a href="lechef">Le chef</a></li>
                     <li><a href="heritage">Héritage</a></li>
                     <li>La cave</li>
                 </ul>
              </li>
              
              <li>
                  venir
                  <ul>
                      <li>La carte</li>
                      <li>Réservation</li>
                      <li>Invitation</li>
                      <li>Salon privé</li>
                      <li>Infos pratiques</li>
                  </ul>
              </li>
              
              <li>
                  <a href="/">
                      <img src="/assets/images/tour.svg" alt="logo tour">
                  </a>
              </li>
              
              <li>
                  varier
                  <ul>
                     <li>Le boulanger de la tour</li>
                     <li>La rôtisserie de la tour</li>
                     <li>La tour d'argent Tokyo</li>
                 </ul>
              </li>
              
              <li>
                  acheter
                  <ul>
                     <li>Le comptoir</li>
                     <li><a href="http://www.comptoirdelatour.com/">E-boutique</a></li>
                 </ul>
              </li>
          </ul>
      </header>
      
  <section id="tokyo">
      
      <div>
          <h2>La tour d'argent<br>tokyo</h2>   
          <svg version="1.1" id="swipedownDuck" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 17.9 15.5" style="enable-background:new 0 0 17.9 15.5;" xml:space="preserve">
                <style type="text/css">
                    .whiteduck{fill:#FFF;}
                </style>
                <g>
                    <g id="heritage-TdA-Copy" transform="translate(-710.000000, -2735.000000)">
                        <path id="aad" class="whiteduck" d="M718.4,2750.5c-0.4-4.7-4.7-10.3-8.4-13.8l0.4-0.9c2.8,1.5,5.9,1.3,8.1-0.9h0.9
                            c2.2,2.2,5.3,2.3,8.1,0.9l0.4,0.9c-3.7,3.5-7.9,9.1-8.4,13.8H718.4z"/>
                    </g>
                </g>
                </svg>
      </div>
            
   </section>
      
    <section id="tokyo-content">
       

        <section id="presentationTokyo">
                <img src="/assets/images/tokyo/chef-renaud-augier.png">
                <div>
                    <p>
                        Ancrée depuis toujours dans les terroirs et la tradition, il était dans l’ordre des choses que la Tour d’Argent ouvre un jour sa boulangerie.
                    </p>
                    <p>
                        Le Boulanger de la Tour, Alexis Bourgeot a pris ses quartiers dans cette nouvelle boutique juste en face de la Tour ; 2, rue du Cardinal Lemoine. Agé de 26 ans, Alexis a toujours voulu devenir boulanger. Passé par la pâtisserie de Cyril Lignac et par la Boulangerie des Invalides de Philippe-Marc Jocteur, Alexis a le goût du travail bien fait, le respect du produit, un joli savoir-faire et recherche la pleine satisfaction de ses clients. Dans son bel écrin de marbre clair et de bois massif avec un espace ouvert sur l’atelier de fabrication, les pains tout justes sortis du four apparaissent en majesté : baguettes, tourtes de meule, pains scandinave, pains complets, pains au maïs, pains Punchy et bien d’autres encore.
                    </p>
                    <p>
                        Dans les vitrines, les viennoiseries pur-beurre, les éclairs au chocolat Tour d’Argent, au café, les tartes, au citron, au chocolat ou encore aux fruits de saison aiguisent l’appétit. Les madeleines, moelleux aux noisettes et autres gâteaux de voyage vous rappellent aussi que l’enfance n’est pas loin.
                    </p>
                    <p>
                        Où est la maîtresse de maison ? La voilà : posée en hauteur, la baguette de la Tour veille au grain. Vendue 1€ tout rond, elle est – tout comme l’intégralité de nos pains, viennoiseries, gâteaux de voyage et tartes –  confectionnée dans notre atelier devant vous, avec du levain naturel, longuement fermentée, de la farine des moulins de Chars et de Brasseuil et façonnée à la main ! 
                        une merveille de savoir-faire.
                    </p>
                </div>
        </section>
        
        <section id="intro-tokyo">
                <div>
                    <p>
                        À la Rôtisserie d’Argent, maison vivante et chaleureuse, on ne se dédit pas : on assume pleinement notre héritage gastronomique bourgeois.
                    </p>
                    <p>
                        Sympathique bouchon lyonnais acquis en 1989 par Claude Terrail, le restaurant a naturellement évolué au fil des ans pour devenir un bistrot typiquement parisien. Sa fameuse rôtissoire est le cœur des lieux, un cœur qui ne s’arrête jamais de battre et anime les murs de cet esprit “maison de campagne” en plein Paris, loin des snobismes d’un jour.
                    </p>
                    <p>
                        Idéalement située Rive gauche entre les bords de Seine et la montagne Sainte-Geneviève, à deux pas du Quartier Latin, la Rôtisserie d’Argent fait de l’œil aux îles et Notre-Dame. Blottie contre sa grande sœur la Tour d’Argent, elle en respecte les valeurs, pour le plus grand plaisir de sa clientèle aussi exigeante qu’éclectique.
                    </p>
                    <p>
                        Familles venues en voisines, hommes d’affaires, figures locales, politiques, artistes et autres, tous se retrouvent sur nos banquettes, et il n’est pas rare de voir converser des gens qui ne se connaissaient pas une heure auparavant. Qui sait : votre futur meilleur ami ou votre prochain associé est peut-être attablé à la Rôtisserie. Pourquoi ne pas l’y rejoindre ?
                    </p>
                    <p>
                        Ici, la bonne chère est conçue comme le mariage de la qualité et du respect des saisons. La cuisine se fait au rythme de la broche qui tourne à son train de sénateur, donnant aux produits le temps d’exprimer tous leurs arômes et leurs arguments – comme une déclaration paisiblement mûrie. La parole est à madame la Rôtisserie.
                    </p>
                </div>
                <div></div>
            </section>
        
        <div class="buttonsTokyo">
                <a href="carte">La carte</a>
                <a href="reservation">Réservation</a>
            </div>
        
        <!-- Slider -->
        
        <section class="swiper-container">
           
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <img src="/assets/images/rotisserie/Rotisserie-dargent-2.jpg" alt="Assiette" class="swiper-slide">
                        <img src="/assets/images/rotisserie/Rotisserie-dargent-3.jpg" alt="Assiette" class="swiper-slide">
                        <img src="/assets/images/rotisserie/Rotisserie-dargent-4.jpg" alt="Assiette" class="swiper-slide">
                        <img src="/assets/images/rotisserie/Rotisserie-dargent-5.jpg" alt="Assiette" class="swiper-slide">
                    </div>
            
        </section>
      
        <section id="contact-map"> 
                <div>
                    <p>
                        15 Quai de la Tournelle, 75005 Paris, France
                    </p>
                    <p>
                        Réservation par téléphone: + 33(0)1 43 54 23 31 <br>
                        E-mail : resa@tourdargent.com
                    </p>
                    <p>
                        Fermé dimanche & lundi
                    </p>
                    <p>
                        Service Voiturier
                        Métro Pont-Marie
                        Nous n’acceptons pas les règlements par chèque.
                    </p>
                </div>
                
                <iframe src="https://snazzymaps.com/embed/862" width="500px" height="300px" style="border:none;"></iframe>
          </section>
      
        <footer>
          <ul id="footerleft">
              <li><a href="#">mentions légales</a></li>
              <li><a href="#">recrutement</a></li>
              <li><a href="#">contact</a></li>
              <li><a href="https://tourdargent.com/blog/">ag-mag</a></li>
          </ul>
          
          <ul id="footerright">
              <li><a href="https://fr-fr.facebook.com/latourdargent" id="Facebook"></a></li>
              <li><a href="https://twitter.com/latourdargent" id="Twitter"></a></li>
              <li><a href="https://instagram.com/tourdargentparis" id="Instagram"></a></li>
              <li><a href="https://plus.google.com/+TourdArgentParis" id="googleplus"></a></li>
              <li><a href="https://www.flickr.com/photos/tourdargentparis/" id="flickr"></a></li>
              <li><a href="https://www.linkedin.com/company-beta/3162633/" id="linkedIn"></a></li>
          </ul>
      </footer>
  </section>
  
  
<!--JS-->
  <script src="/assets/js/page.js"></script>
  <script src="/assets/js/swiper.jquery.js"></script>
   
</body>
</html>