/*intro*/
section#lechef{
    background: url(/assets/images/lechef/Page-Le-Chef-B.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%; width: 100%;
    position: relative;
}

section#lechef>div{
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}

h2 {
  font-size: 53px;
  font-family: "LeMonde Livre Classic";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0px 0px 18.69px rgba(0, 0, 0, 0.46);
  top: 600px;
}


#swipedownDuck{
    text-shadow: 0px 0px 18.69px rgba(0, 0, 0, 0.46);
    width: 25px;
    display: block;
    margin: 0 auto;
}

/*page*/

/*chef bio*/

#chefbio{
    display: flex;
}

#chefbio div img{
  text-shadow: 0px 32px 80.64px rgba(200, 174, 136, 0.28);
  width: 40%;
}

#chefbio div p{
  font-size: 18px;
  font-family: "LeMonde Livre Classic";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: right;
  margin-bottom: 25px;
}

#chefbio div{
    border-right: 1px solid rgb(200,174,136);
    width: 35%;
    padding-right: 20px;
}

#lechef-content{
    width: 100%;
    background-color: rgb(32,32,32);
}

#chef-title{
    display: flex;
    justify-content: center;
    padding-top: 200px;
    margin-bottom: 100px;
}

#chef-title h3 {
  font-size: 25px;
  font-family: "LeMonde Livre Classic";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  z-index: 74;
}

/*Exergue*/

#exerguechef{
}

#exerguechef p{
    font-size: 28px;
    font-family: "LeMonde Livre Classic";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    width: 50%;
    display: block;
    margin: 200px auto;
}

#exerguechef p span{
  font-size: 198px;
  font-family: "LeMonde Livre Classic";
  color: rgb(200, 174, 136);
  text-transform: uppercase;}

#ducktitle{
    width: 25px;
    margin: 0px 70px;
}