/*intro*/
section#reservation{
    background: url(/assets/images/reservation/9L4B9905.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%; width: 100%;
    position: relative;
}

section#reservation>div{
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}

h2 {
  font-size: 53px;
  font-family: "LeMonde Livre Classic";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0px 0px 18.69px rgba(0, 0, 0, 0.46);
  top: 600px;
}


#swipedownDuck{
    text-shadow: 0px 0px 18.69px rgba(0, 0, 0, 0.46);
    width: 25px;
    display: block;
    margin: 0 auto;
}

/*page*/

#reservation-content{
    background-color: rgb(32,32,32);
    height: 500px;
}

/*Form*/

#reservation-content form{
    width: 80%;
    margin: 150px auto;
}

#reservation-content form input, select, div{
    float: left;
}


/*Input*/

form>input{
    background: rgb(32,32,32);
    border: none;
    border-bottom: 1px solid rgb(200,174,136);
    width: 20%;
    padding: 0px 20px;
    outline: none;
    margin-bottom: 50px;
}

form>input,
form>input::-webkit-input-placeholder{
  font-size: 20px;
  font-family: "LeMonde Livre Classic";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

#telephoneInput{
    width: 40%;
}

/*Radio buttons*/


#reservation-content form .hour{
    width: 50%;
    min-width: 50%;
    margin: 90px auto 50px auto;
}

#reservation-content form .hour:last-child{
    width: 40%;
    margin: 90px 0px 50px 20px;
    float: right;
}

#reservation-content form h3{
    font-size: 23px;
    font-family: "LeMonde Livre Classic";
    color: rgb(200, 174, 136);
    text-transform: uppercase;
    margin-bottom: 30px;
}

.hour input[type="radio"] {
  display: none;
}

.hour label {
    display: inline-block;
    background-color: rgb(32,32,32);
    padding: 10px 20px;
    font-family: "LeMonde Livre Classic";
    font-size: 23px;
    cursor: pointer;
    border-radius: 25px;
    margin: 20px 40px 20px 0px;
    color: white;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hour input[type="radio"]:checked+label {
    background-color: rgb(200,174,136);
    color: rgb(32,32,32);
}


/*Select*/

#styled-select select {
    background: transparent;
    font-size: 20px;
    font-family: "LeMonde Livre Classic";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1;
    border: none;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
     -moz-appearance: none;
    appearance: none; 
    width: 100%;
    padding-bottom: 4px;
    padding-left: 20px;
    margin-bottom: 50px;
   }

#styled-select {
    height: 26px;
    overflow: hidden;
    background: url(/assets/images/uikit/arrows.png) no-repeat right rgb(32,32,32);
    background-size: 8%;
    border-bottom: 1px solid rgb(200,174,136);
    width: 20%;
    margin: 0px 50px 50px 50px;;
   }


/*Send button*/

form>input:last-child{
    float: none;
    padding: 15px 20px 10px 20px;
    width: auto;
    border-radius: 25px;
    border: 1px solid rgb(200,174,136);
    font-size: 18px;
    font-family: "LeMonde Livre Classic";
    color: rgb(200,174,136);
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

form>input:last-child:hover{
    float: none;
    padding: 15px 20px 10px 20px;
    width: auto;
    border-radius: 25px;
    border: 1px solid rgb(200,174,136);
    font-size: 18px;
    font-family: "LeMonde Livre Classic";
    background-color: rgb(200,174,136);
    color: rgb(32,32,32);
}

/*Responsive*/


@media screen and (max-width: 1140px){
    /*intro*/
section#reservation{
    background: url(/assets/images/reservation/9L4B9905.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%; width: 100%;
    position: relative;
}

section#reservation>div{
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}

h2 {
  font-size: 53px;
  font-family: "LeMonde Livre Classic";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0px 0px 18.69px rgba(0, 0, 0, 0.46);
  top: 600px;
}


#swipedownDuck{
    text-shadow: 0px 0px 18.69px rgba(0, 0, 0, 0.46);
    width: 25px;
    display: block;
    margin: 0 auto;
}

/*page*/

#reservation-content{
    background-color: rgb(32,32,32);
    height: 500px;
}

/*Form*/

#reservation-content form{
    width: 80%;
    margin: 150px auto;
}

#reservation-content form input, select, div{
    float: left;
}


/*Input*/

form>input{
    background: rgb(32,32,32);
    border: none;
    border-bottom: 1px solid rgb(200,174,136);
    width: 20%;
    padding: 0px 20px;
    outline: none;
    margin-bottom: 50px;
}

form>input,
form>input::-webkit-input-placeholder{
  font-size: 20px;
  font-family: "LeMonde Livre Classic";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

#telephoneInput{
    width: 40%;
}

/*Radio buttons*/


#reservation-content form .hour{
    width: 50%;
    min-width: 50%;
    margin: 90px auto 50px auto;
}

#reservation-content form .hour:last-child{
    width: 40%;
    margin: 90px 0px 50px 20px;
    float: right;
}

#reservation-content form h3{
    font-size: 23px;
    font-family: "LeMonde Livre Classic";
    color: rgb(200, 174, 136);
    text-transform: uppercase;
    margin-bottom: 30px;
}

.hour input[type="radio"] {
  display: none;
}

.hour label {
    display: inline-block;
    background-color: rgb(32,32,32);
    padding: 10px 20px;
    font-family: "LeMonde Livre Classic";
    font-size: 23px;
    cursor: pointer;
    border-radius: 25px;
    margin: 20px 40px 20px 0px;
    color: white;
}

.hour input[type="radio"]:checked+label {
    background-color: rgb(200,174,136);
    color: rgb(32,32,32);
}


/*Select*/

#styled-select select {
    background: transparent;
    font-size: 20px;
    font-family: "LeMonde Livre Classic";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1;
    border: none;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
     -moz-appearance: none;
    appearance: none; 
    width: 100%;
    padding-bottom: 4px;
    padding-left: 20px;
    margin-bottom: 50px;
   }

#styled-select {
    height: 26px;
    overflow: hidden;
    background: url(/assets/images/uikit/arrows.png) no-repeat right rgb(32,32,32);
    background-size: 8%;
    border-bottom: 1px solid rgb(200,174,136);
    width: 20%;
    margin: 0px 50px 50px 50px;;
   }


/*Send button*/

form>input:last-child{
    float: none;
    padding: 15px 20px 10px 20px;
    width: auto;
    border-radius: 25px;
    border: 1px solid rgb(200,174,136);
    font-size: 18px;
    font-family: "LeMonde Livre Classic";
    color: rgb(200,174,136);
    cursor: pointer;
}

form>input:last-child:hover{
    float: none;
    padding: 15px 20px 10px 20px;
    width: auto;
    border-radius: 25px;
    border: 1px solid rgb(200,174,136);
    font-size: 18px;
    font-family: "LeMonde Livre Classic";
    background-color: rgb(200,174,136);
    color: rgb(32,32,32);
}
}

@media screen and (max-width: 640px) {
    /*intro*/
section#reservation{
    background: url(/assets/images/reservation/9L4B9905.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%; width: 100%;
    position: relative;
}

section#reservation>div{
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}

h2 {
  font-size: 53px;
  font-family: "LeMonde Livre Classic";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0px 0px 18.69px rgba(0, 0, 0, 0.46);
  top: 600px;
}


#swipedownDuck{
    text-shadow: 0px 0px 18.69px rgba(0, 0, 0, 0.46);
    width: 25px;
    display: block;
    margin: 0 auto;
}

/*page*/

#reservation-content{
    background-color: rgb(32,32,32);
    height: 500px;
}

/*Form*/

#reservation-content form{
    width: 100vw;
    margin: 150px auto;
}

#reservation-content form input, select, div{
    float: none;
    margin: 0px auto 20px auto;
    display: block;
}


/*Input*/

form>input{
    background: rgb(32,32,32);
    border: none;
    border-bottom: 1px solid rgb(200,174,136);
    width: 80vw;
    padding: 0px 20px;
    outline: none;
    margin: 0 auto;
}

form>input,
form>input::-webkit-input-placeholder{
  font-size: 20px;
  font-family: "LeMonde Livre Classic";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

form input#telephoneInput{
    width: 80vw;
    margin-top: 20px;
}

/*Radio buttons*/


#reservation-content form .hour{
    width: 100%;
    margin: 90px 95px 50px 20px;
}

#reservation-content form h3{
    font-size: 23px;
    font-family: "LeMonde Livre Classic";
    color: rgb(200, 174, 136);
    text-transform: uppercase;
    margin-bottom: 30px;
}

#reservation-content form .hour input[type="radio"] {
  display: none;
}

.hour label {
    display: inline-block;
    background-color: rgb(32,32,32);
    padding: 10px 20px;
    font-family: "LeMonde Livre Classic";
    font-size: 23px;
    cursor: pointer;
    border-radius: 25px;
    margin: 20px 40px 20px 0px;
    color: white;
}

.hour input[type="radio"]:checked+label {
    background-color: rgb(200,174,136);
    color: rgb(32,32,32);
}


/*Select*/

#styled-select select {
    background: transparent;
    font-size: 20px;
    font-family: "LeMonde Livre Classic";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1;
    border: none;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
     -moz-appearance: none;
    appearance: none; 
    width: 100%;
    padding-bottom: 4px;
    padding-left: 20px;
   }

#styled-select {
    height: 26px;
    overflow: hidden;
    background: url(/assets/images/uikit/arrows.png) no-repeat right rgb(32,32,32);
    background-size: 8%;
    border-bottom: 1px solid rgb(200,174,136);
    width: 80vw;
    margin: 0px 30px;
    padding: 0px 40px 0px 0px;
   }

form>input:last-child{
    float: none;
    padding: 15px 20px 10px 20px;
    width: auto;
    border-radius: 25px;
    border: 1px solid rgb(200,174,136);
    font-size: 18px;
    font-family: "LeMonde Livre Classic";
    color: rgb(200,174,136);
    cursor: pointer;
}

form>input:last-child:hover{
    float: none;
    padding: 15px 20px 10px 20px;
    width: auto;
    border-radius: 25px;
    border: 1px solid rgb(200,174,136);
    font-size: 18px;
    font-family: "LeMonde Livre Classic";
    background-color: rgb(200,174,136);
    color: rgb(32,32,32);
}
}