

#timeline a {
	color: rgb(200, 174, 136);
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
#timeline 	a:hover,
#timeline 	a.selected {
		color: white;
	}



.sociales {
	text-align: center;
	margin-bottom: 20px;
}

	#timeline {
		width: 800px;
		height: 350px;
		overflow: hidden;
		margin: 100px auto;
		position: relative;
		background: url('/assets/images/timelinr/golddot.gif') left 45px repeat-x;
        clear: both;
	}
		#dates {
			width: 800px;
			height: 80px;
			overflow: hidden;
            vertical-align: middle;
		}
			#dates li {
				list-style: none;
				float: left;
				width: 150px;
				height: 50px;
				font-size: 20px;
                font-weight: 300;
				text-align: center;
				background: url('/assets/images/timelinr/goldbigbiggerdot.png') center bottom no-repeat;
                vertical-align: bottom;
			}
				#dates a {
					line-height: 20px;
					padding-bottom: 5px;
                    text-transform: uppercase;
                    vertical-align: bottom;
                    
				}
				#dates .selected {
			        font-size: 25px;
				}
		
		#issues {
			width: 800px;
			height: 350px;
			overflow: hidden;
		}	
			#issues li {
				width: 800px;
				height: 350px;
				list-style: none;
				float: left;
			}
				
				#issues li img {
					float: left;
					margin: 10px 30px 10px 50px;
					background: transparent;
					-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */   
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */      
					zoom: 1;
					-webkit-transition: all 2s ease-in-out;
					-moz-transition: all 2s ease-in-out;
					-o-transition: all 2s ease-in-out;
					-ms-transition: all 2s ease-in-out; 
/*
					transition: all 2s ease-in-out;
					-webkit-transform: scale(0.7,0.7);
					-moz-transform: scale(0.7,0.7);
				    -o-transform: scale(0.7,0.7);
				    -ms-transform: scale(0.7,0.7);
				    transform: scale(0.7,0.7);
*/
				}
				#issues li h1 {
					color: white;
					font-size: 24px;
					margin: 20px 0;
					text-shadow: #000 1px 1px 2px;
                    text-transform: uppercase;
				}
				#issues li p {
					margin-right: 70px;
					font-weight: normal;
					line-height: 22px;
                    font-size: 18px;
                    font-family: "LeMonde Livre Classic";
                    color: rgb(255, 255, 255);
                    line-height: 1.2;
                    text-align: left;
                }
		
		#grad_left,
		#grad_right {
			width: 100px;
			height: 350px;
			position: absolute;
			top: 0;
		}
			#grad_left {
		        left: 0;
		        background: url('/assets/images/timelinr/grad_left.png') repeat-y;
			}
			#grad_right {
		        right: 0;
		        background: url('/assets/images/timelinr/grad_right.png') repeat-y;
			}
		
		#next,
		#prev {
			position: absolute;
			top: 0;
			font-size: 70px;
			top: 170px;
			width: 22px;
			height: 38px;
			background-position: 0 0;
			background-repeat: no-repeat;
			text-indent: -9999px;
			overflow: hidden;
		}
			#next:hover,
			#prev:hover {
				background-position: 0 -76px;
			}
			#next {
				right: 0;
				background-image: url('/assets/images/timelinr/next.png');
			}
			#prev {
				left: 0;
				background-image: url('/assets/images/timelinr/prev.png');
			}
				#next.disabled,
				#prev.disabled {
					opacity: 0.2;
				}